block siteinfo
doctype html
- var bodyClass;
html(lang="fa")
	<!--[if lt IE 9]> 
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
		title #{title}
		// General Meta Tags
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" , content="IE=edge")
		meta(name="viewport" ,  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name='author', content='mr-gulp-cli')
		meta(name="description" , content="Page description ...")
		// Twitter Cards
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='mr-gulp-cli')
		meta(name='twitter:creator', content='mr-gulp-cli')
		// Open Graph Meta Tags
		meta(property='og:type', content='website')
		meta(property='og:site_name', content='mr-gulp-cli')
		meta(property='og:title', content='mr-gulp-cli')
		meta(property='og:description', content='')
		meta(property='og:image', content='')
		meta(property='og:url', content='http://mr-gulp-cli.com')
		meta(property='article:publisher', content='')
		link(rel="alternate",hreflang="fa-IR",href="http://mr-gulp-cli.com/")
		//style
		- if (typeof(style) !== 'undefined'){
			link(href="#{style}" , rel="stylesheet")
		-}
		link(href="assets/css/bootstrap.min.css" , rel="stylesheet" )
		link(href="assets/css/bootstrap-rtl.min.css" , rel="stylesheet" )
		link(href="assets/css/kit.css" , rel="stylesheet" )

		script(src="assets/js/jquery-1.12.0.min.js")
		script(src="assets/js/bootstrap.min.js")


		//- script(src="http://maps.googleapis.com/maps/api/js")

		- if (typeof(javascript) !== 'undefined'){
			script(src="#{javascript}")
		-}
	body(class=bodyClass)
		block header
		block body
		block footer

